.modal-form-right-align .pf-m-action:last-child .data-driven-forms__pf4-button-group:first-child {
  margin-left: auto; }

.data-table-pane {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px; }

.detail-title {
  margin-bottom: 16px; }

.data-table-detail.heading {
  margin: 0 !important; }

.data-table-detail.content {
  margin-top: 0 !important; }

.detail-pane {
  background-color: white;
  min-height: 100%;
  padding: 20px;
  overflow: ellipsis;
  word-wrap: break-word; }

.destructive-color:not(:disabled) {
  color: #FF0000 !important; }

.table-fix .pf-c-table__toggle {
  padding-top: 0; }

.top-toolbar {
  background-color: #FFFFFF; }
  .top-toolbar .pf-c-breadcrumb__item .active {
    color: var(--pf-c-breadcrumb__item--Color);
    text-decoration: none;
    pointer-events: none; }
  .top-toolbar h2 {
    margin-bottom: 0 !important; }
  .top-toolbar .top-toolbar-title {
    min-width: 200px; }

